h1{
  text-align: center;
  color: antiquewhite;
  background-color: rgb(106, 245, 236);
  }

  h2{
    text-align: center;
  }
  <img src="https://okcu-clevyr.imgix.net/arts-and-sciences/game-design-animation/animation-lab-06.jpg?auto=compress%2Cformat&fit=clip&ixlib=php-1.1.0&q=80&s=0f59e81b5521a5658d959b71e28a94fa" alt="" 
  width:""50"" height:"60">


body{background-color: antiquewhite;}