header{
text-align: center;
  color: rgba(170, 218, 202, 0.651);
  background-color: rgb(0, 0, 0);
  height: 100px ;
}
body{
  margin:0;
}

h1{
  margin: 0;
  text-align: center;
  color:   rgba(170, 218, 202, 0.651);
  background-color: floralwhite (170, 218, 202, 0.418);
  }

h2{
  text-align: center;
}

nav{
float: right;
width: 20vw;
background-color: white;
padding: 5px;
position: absolute;
right: 0px;
top: 100px;


}

article{
  width: 50vw;
  text-align: center;
  margin: auto;
}

aside{
float: left;
height: 400px ;

}

h3{
    text-align: center;
  }
img{
  border-radius: 17px;
  padding: 10px;
  width: 175px;
}

body{
  background-color: rgba(170, 218, 202, 0.651);

}

footer{
background-color:  rgba(170, 218, 202, 0.651); 
position: fixed;
width: 100%;
bottom: 0px;
height: 40px;
}



input .container [type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}